DATABASE_URI=file:./your-database-name.db
PAYLOAD_SECRET=YOUR_SECRET_HERE

PORT=4000
NODE_ENV=production
DB_CLIENT=postgres
SERVER_URL=cms.spectra-perseus.org
PUBLIC_SITE_URL=https://spectra-perseus.org
CORS_ORIGINS=https://spectra-perseus.org,https://www.spectra-perseus.org


